window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) {
  /*
        button icons
    */
  /*
        menu icons
    */
  /*
        button margins on vertical toolbar
    */
  /*
        default theme on linux
    */ }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button) {
    list-style-image: url(../icons/toolbar_darwin.png); }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button):-moz-lwtheme-brighttext {
      list-style-image: url(../icons/toolbar_darwin_inverted.png); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #bookmarks-button {
    -moz-image-region: rect(0, 16px, 16px, 0); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #history-button {
    -moz-image-region: rect(0, 32px, 16px, 16px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #addons-button {
    -moz-image-region: rect(0, 64px, 16px, 48px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #multipanel-button {
    -moz-image-region: rect(0, 80px, 16px, 64px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #pageinfo-button {
    -moz-image-region: rect(0, 96px, 16px, 80px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #console-button {
    -moz-image-region: rect(0, 112px, 16px, 96px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #paneltab-button {
    -moz-image-region: rect(0, 128px, 16px, 112px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #sidebars-button {
    -moz-image-region: rect(0, 144px, 16px, 128px); }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #sidebars-button dropmarker {
      display: none; }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #sidebars-togglebutton {
    -moz-image-region: rect(0, 160px, 16px, 144px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #autohide-button {
    -moz-image-region: rect(0, 176px, 16px, 160px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #toolbar-button {
    -moz-image-region: rect(0, 192px, 16px, 176px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_panelTab1"], window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_panelTab2"], window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem#aios-sidebar-mitem-show, window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem#aios-sidebar-mitem-hide, window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_prefs"] {
    list-style-image: url(../icons/panels_menus.png); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_panelTab1"] {
    -moz-image-region: rect(48px, 16px, 64px, 0); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_panelTab2"] {
    -moz-image-region: rect(48px, 32px, 64px, 16px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem#aios-sidebar-mitem-hide {
    -moz-image-region: rect(48px, 48px, 64px, 32px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem#aios-sidebar-mitem-show {
    -moz-image-region: rect(48px, 64px, 64px, 48px); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) menuitem[key="aiosKey_prefs"] {
    -moz-image-region: rect(32px, 16px, 48px, 0); }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) #aios-toolbar[orient="vertical"] toolbarbutton {
    margin: 2px 1px; }
  window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] {
    /*
            icon opacity
        */
    /*
            type=checkbox buttons with no border, background and background-image if they are not checked
        */ }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] toolbarbutton.toolbarbutton-1.aios-tbutton:not(#bookmarks-button):not(#history-button):not(#downloads-button):not(:-moz-lwtheme-brighttext) image.toolbarbutton-icon {
      opacity: 0.8; }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] toolbarbutton[type="checkbox"]:not([checked="true"]):not(:hover) .toolbarbutton-icon, window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] toolbarbutton[type="checkbox"]:not([checked="true"]):not(:hover) .dropmarker-icon {
      background-image: none !important;
      background-color: transparent !important;
      box-shadow: none !important;
      border-color: transparent !important; }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] #aios-toolbar[orient="vertical"] toolbarseparator {
      -moz-appearance: none !important;
      margin: 3px 6px 2px 6px;
      border-bottom: 1px solid-moz-ButtonHoverFace; }
    window:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"])[aios-appDefTheme="true"] #aios-toolbar[orient="vertical"][iconsize="small"] toolbarseparator {
      margin-left: 5px;
      margin-right: 5px; }
