html{background-color:AppWorkspace !important;}
body{width:176px !important;min-width:0 !important;padding:3px !important;margin:auto !important;border:1px solid ThreedDarkShadow !important;border-top:none !important;background-color:#FFFFFF !important;}
*{font-size:11px !important;background-image:none !important;}
*:not(body):not(html):not(select):not(option):not(optgroup){width:auto !important;min-width:0 !important;height:auto !important;max-width:176px !important;position:static !important;top:auto !important;left:auto !important;float:none !important;padding:0 !important;margin:0 !important;white-space:normal !important;overflow:hidden !important;}
table,tbody,thead,tfoot,tr,td,th,col,colgroup{display:block !important;}
img[width="1"],img[height="1"],img[width="468"],img[height="600"]{display:none !important;}
li{list-style-position:inside !important;}
iframe{display:none !important;}
embed[type*="shockwave"]{display:none !important;}
html :-moz-any-link{text-decoration:underline !important;}
ul,ol{display:block !important;}
li{display:list-item !important;}
a{background-image:none !important;}
img[src*="spacer"]{display:none !important;}
body[aiosSidebar=true]{width:100% !important;padding:0 !important;border:none !important;}
body[aiosSidebar=true] *:not(body):not(html):not(select):not(option):not(optgroup){max-width:100% !important;}
