
window#JSConsoleWindow,
#ConsoleBox {
    margin: 0;
    padding: 0;
    border: none;
}

toolbox {
    border: none;	/* Windows-Classic-Theme-Fix */
}

#ToolbarMode {
    padding: 0 1px 1px 1px;

    toolbarbutton {
        min-width: 0;
        padding: 1px 4px !important;
    }

    &[hideLabel=true] toolbarbutton:not([class="textonly"]) {

        label {
            display: none;
        }

        image {
            margin: 0;
        }

    }
}


.console-row {

    /* Texte buendig */
    padding: 5px;

    & * {
        margin: 0;
        padding: 0;
    }

    .console-row-content > * {
        margin-bottom: 3px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .console-row-icon image {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        margin-right: 10px;
    }


    /* flexible Zeilen */
    .console-error-source,
    .console-error-source label,
    .console-row-code label {
        -moz-box-flex: 1;
    }

    .lineNumberRow label:first-child {
        margin-right: 5px;
    }

    &:not([selected=true]) {

        .console-row-code  {
            display: none;
        }

        .lineNumberRow label:first-child  {
            margin-left: 5px;
        }

    }


    /* Zeilenangabe des Fehlers in extra Zeile */
    &[selected=true] {

        .console-row-file {
            -moz-box-orient: vertical;
        }

        .lineNumberRow label {
            margin-top: 3px;
        }

    }
}


/* @group farbige Liste */
*[aios-appDefTheme="true"] .console-row:not([selected=true]) {

    &[type="error"],
    &[type="exception"] {
        background-color: #FFECEC;
    }

    &[type="warning"] {
        background-color: #FFFFEC;
    }

    &[type="message"] {
        background-color: #e8f0fb;
    }
}
/* @end */


/* @group Firefox-Standard-Theme */
*[aios-appDefTheme="true"] {

    .console-row {
        border-bottom-width: 1px;
        border-bottom-style: dotted !important;
        border-bottom-color: rgba(0,0,0,0.3);

        &[selected=true] {

            * {
                color: #000;
            }

            .console-row-msg,
            .console-error-msg,
            description {
                font-weight: bold;
            }
        }
    }


    /* @group Windows */
    &[aios-appOS="WINNT"] {

        #ToolbarMode,
        #ToolbarExt, /* Console2 */
        #ToolbarEval {
            -moz-appearance: none;
            border-top: 1px solid ThreedHighlight;
            border-bottom: 1px solid ThreedShadow;
        }

        #ToolbarMode {
            padding-top: 1px;
            background-color: #fff;

            toolbarbutton:not([class="textonly"]) {
                -moz-appearance: none;
                width: 36px;
                height: 36px;
                margin-right: 1px;
                border: none;

                &[checked="true"] {
                    background-color: #c1d2ee;
                }

                &:hover {
                    background-color: #e0e8f7;
                }

            }
        }

        .console-row,
        .console-row[selected="true"] {
            border-bottom: 1px solid ThreedShadow;

            .text-link {
                color: -moz-nativehyperlinktext !important;

                &:hover {
                    color: #3DA1FF !important;
                }

            }
        }


        /* @group Windows-XP klassisch */
        &[aios-appOSVersion="Windows NT 5.1"] {

            .console-box {
                background-color: #efedea;
            }

            #ToolbarEval {
                padding-top: 1px;
                padding-bottom: 2px;

                #TextboxEval {
                    height: 26px;
                }
            }

        }
        /* @end */


        /* @group Windows-Standard */
        &:-moz-system-metric(windows-default-theme) {

            /* @group Windows-XP-Standard */
            &[aios-appOSVersion="Windows NT 5.1"] {

                #console-toolbox {
                    -moz-appearance: none;
                }

                #ToolbarEval {
                    padding-top: 1px;
                    padding-bottom: 2px;
                    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5),
                                      rgba(255, 255, 255, 0));

                    #TextboxEval {
                        height: 22px;
                    }
                }

                .console-box {
                    background-color: #EDECEF;
                }

                .console-row[selected="true"] {
                    background: #CAD3E1 none;
                }

            }
            /* @end */


            /* @group Windws Vista-7-Standard */
            &:not([aios-appOSVersion="Windows NT 5.1"]) {

                #ToolbarEval,
                .console-box {
                    background-color: #eef3fa;
                }

                .console-row[selected="true"] {
                    background: #CBD8E8 none;
                }

            }
            /* @end */

        }
        /* @end */

    }
    /* @end */


    /* @group Darwin */
    &[aios-appOS="Darwin"] {

        window#JSConsoleWindow,
        #ConsoleBox,
        #ToolbarExt, /* Console2 */
        #ToolbarEval {
            background-color: #D4DDE5;

            &:-moz-window-inactive {
                background-color: #E8E8E8;
            }
        }

        #ToolbarMode,
        #ToolbarExt, /* Console2 */
        #ToolbarEval {
            border-top: none;
            border-bottom: none;
            background-image: none;
        }

        #ToolbarEval {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        #console-toolbox,
        #ConsoleToolbox /* Console2 */ {
            border-top: 1px solid #484848;

            &:-moz-window-inactive {
                border-top: 1px solid #929292;
            }
        }

        #ToolbarMode {
            -moz-appearance: none;
            padding: 0 2px 1px 2px;
            border-left: 1px solid #c0c0c0;
            border-top: 1px solid #c0c0c0;
            border-bottom: 1px solid #484848;
            background-color: -moz-mac-chrome-active;

            &:-moz-window-inactive {
                border-left: 1px solid #e1e1e1;
                border-top: 1px solid #e1e1e1;
                border-bottom: 1px solid #929292;
                background-color: -moz-mac-chrome-inactive;
            }

            spacer {
                display: none;
            }

            #viewGroup {
                margin: 1px 0;
                padding: 0;
                border: 1px solid #484848;
                border-left: none;

                &:-moz-window-inactive {
                    border-color: #929292;
                }
            }

            toolbarbutton:not([class="textonly"]) {
                -moz-appearance: none;
                padding: 5px;
                border-left: 1px solid #484848;
                border-right: none;
                background: -moz-linear-gradient(top, #FFF, #ADADAD) repeat-x;
                list-style-image: url("../icons/topbar_darwin.png");

                &:-moz-window-inactive {
                    border-left: 1px solid #929292;
                }

                &[checked="true"] {
                    background: #606060;
                    box-shadow: inset rgba(42, 42, 42, 1) 0 3px 3px;

                    &:-moz-window-inactive {
                        background: #bababa;
                        box-shadow: inset rgba(42, 42, 42, 0.6) 0 2px 2px;
                    }
                }

                image {
                    margin: 4px 2px;
                    display: -moz-box;
                    opacity: 0.5;

                    &:-moz-window-inactive {
                        opacity: 0.3;
                    }
                }

                &:hover,
                &[checked="true"] {

                    image {
                        opacity: 1;

                        &:-moz-window-inactive {
                            opacity: 0.8;
                        }
                    }

                }

                &[id="Console:modeAll"],
                &[id="item_modeAll"] /* Console2 */ {
                    -moz-image-region: rect(48px, 24px, 72px, 0);
                }

                &[id="Console:modeErrors"],
                &[id="item_modeErrors"] /* Console2 */ {
                    -moz-image-region: rect(48px, 96px, 72px, 72px);
                }

                &[id="Console:modeWarnings"],
                &[id="item_modeWarnings"] /* Console2 */ {
                    -moz-image-region: rect(48px, 72px, 72px, 48px);
                }

                &[id="Console:modeMessages"],
                &[id="item_modeMessages"] /* Console2 */ {
                    -moz-image-region: rect(48px, 48px, 72px, 24px);
                }

                &[id="Console:clear"] {
                    margin: 1px 0;
                    border: 1px solid #484848;
                    -moz-image-region: rect(48px, 120px, 72px, 96px);

                    &:-moz-window-inactive {
                        border-color: #929292;
                    }
                }

                &[id="item_clearConsole"] /* Console2 */ {
                    -moz-image-region: rect(48px, 120px, 72px, 96px);
                }

                /* Console2 */
                &[id="item_modeAll"],
                &[id="item_modeErrors"],
                &[id="item_modeWarnings"],
                &[id="item_modeMessages"],
                &[id="item_clearConsole"] {
                    margin: 1px;
                    border: 1px solid #484848;

                    &:-moz-window-inactive {
                        border-color: #929292;
                    }

                }

            }
        }


        .console-row {

            .console-row-icon,
            .console-row-msg > label,
            .console-row-file > label {
                display: none;
            }

            &[selected=true] {
                background-color: #aab8c6 !important;

                .console-row-msg,
                .console-error-msg,
                description {
                    text-shadow: rgba(255, 255, 255, 0.4) 0 1px 0;
                }

                .text-link {
                    color: #0066CC !important;

                    &:hover {
                      color: #3DA1FF !important;
                    }
                }
            }
        }


        /* Console2-Toolbars */
        &[id="Console2Window"] {

            #ToolbarExt {
                padding: 2px 3px 2px 1px;
            }

            #ToolbarEval {
                padding: 2px 3px 3px 1px;
            }

        }

    }
    /* @end */


    /* @group Linux */
    &:not([aios-appOS="WINNT"]):not([aios-appOS="Darwin"]) {

        #ToolbarMode,
        #ToolbarExt,
        #ToolbarEval {
            -moz-appearance: none;
        }

    }
    /* @end */

}
/* @end */




/* @group Fix fuer Console2 */
#Console2Window {

    #ConsoleBox {
        -moz-appearance: none;
    }

    .console-row-number label:first-child {
        margin-right: 5px;
    }

    /* Zeilenangabe des Fehlers in extra Zeile */
    richlistitem[selected=true] box + box {
        -moz-box-orient: vertical ;

        .console-row-number {
            margin-top: 3px;
        }
    }

    .console-row[category~="CSS"] .console-row-icon box {
        background: url("../img/console_css.png") no-repeat left center;
    }

    .console-row[category]:not([category~="javascript"]):not([category~="JavaScript"]):not([category~="CSS"]) .console-row-icon box {
        background: url("../img/console_xml.png") no-repeat left center;
    }

    .console-row-dupes,
    .console-row-timestamp {
        margin-left: 10px;
    }
}
/* @end */
