/*
    button icons
*/
toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button) {
    list-style-image: url(../icons/toolbar_darwin.png);

    // &[checked="true"] {
    //     #aios-toolbar & {
    //         list-style-image: url(../icons/toolbar_darwin_inverted.png);
    //     }
    // }
    &:-moz-lwtheme-brighttext {
        list-style-image: url(../icons/toolbar_darwin_inverted.png);
    }
}

#bookmarks-button {
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#history-button {
    -moz-image-region: rect(0, 32px, 16px, 16px);
}

// #downloads-button[cui-areatype="toolbar"],
// #downloads-button[cui-areatype="toolbar"]:hover:active:not([disabled="true"]) {
//     -moz-image-region: rect(0, 48px, 16px, 32px);
// }

#addons-button {
    -moz-image-region: rect(0, 64px, 16px, 48px);
}

#multipanel-button {
    -moz-image-region: rect(0, 80px, 16px, 64px);
}

#pageinfo-button {
    -moz-image-region: rect(0, 96px, 16px, 80px);
}

#console-button {
    -moz-image-region: rect(0, 112px, 16px, 96px);
}

#paneltab-button {
    -moz-image-region: rect(0, 128px, 16px, 112px);
}

#sidebars-button {
    -moz-image-region: rect(0, 144px, 16px, 128px);

    dropmarker {
        display: none;
    }
}

#sidebars-togglebutton {
    -moz-image-region: rect(0, 160px, 16px, 144px);
}

#autohide-button {
    -moz-image-region: rect(0, 176px, 16px, 160px);
}

#toolbar-button {
    -moz-image-region: rect(0, 192px, 16px, 176px);
}


/*
    menu icons
*/
menuitem[key="aiosKey_panelTab1"],
menuitem[key="aiosKey_panelTab2"],
menuitem#aios-sidebar-mitem-show,
menuitem#aios-sidebar-mitem-hide,
menuitem[key="aiosKey_prefs"] {
    list-style-image: url(../icons/panels_menus.png);
}

menuitem[key="aiosKey_panelTab1"] {
    -moz-image-region: rect(48px, 16px, 64px, 0);
}

menuitem[key="aiosKey_panelTab2"] {
    -moz-image-region: rect(48px, 32px, 64px, 16px);
}

menuitem#aios-sidebar-mitem-hide {
    -moz-image-region: rect(48px, 48px, 64px, 32px);
}

menuitem#aios-sidebar-mitem-show {
    -moz-image-region: rect(48px, 64px, 64px, 48px);
}

menuitem[key="aiosKey_prefs"] {
    -moz-image-region: rect(32px, 16px, 48px, 0);
}


/*
    button margins on vertical toolbar
*/
#aios-toolbar[orient="vertical"] toolbarbutton {
    margin: 2px 1px;
}


/*
    default theme on mac osx
*/
window[aios-appDefTheme="true"] {

    /*
        icon opacity
    */
    toolbarbutton.toolbarbutton-1.aios-tbutton:not(#downloads-button):not(:-moz-lwtheme-brighttext) {
        image.toolbarbutton-icon,
        &:hover image.toolbarbutton-icon:-moz-window-inactive {
            opacity: 0.7;
        }

        image.toolbarbutton-icon:-moz-window-inactive {
            opacity: 0.3;
        }

        &[checked="true"] {

            image.toolbarbutton-icon,
            &:hover image.toolbarbutton-icon:-moz-window-inactive {
                opacity:  1;
            }

            image.toolbarbutton-icon:-moz-window-inactive {
                opacity: 0.5;
            }
        }
    }


    /*
        active state of menu-buttons, e.g. the sidebar togglebutton
    */
    toolbarbutton[type="menu-button"][checked="true"]  {
        .toolbarbutton-menubutton-button,
        .toolbarbutton-menubutton-dropmarker {
            background: hsla(0,0%,0%,.02) linear-gradient(hsla(0,0%,0%,.12), hsla(0,0%,0%,0)) border-box;
            border-color: hsla(0,0%,0%,.3);
            box-shadow: 0 1px 0 hsla(0,0%,100%,.5),
                      0 1px 0 hsla(0,0%,0%,.05) inset,
                      0 1px 1px hsla(0,0%,0%,.2) inset;
            transition-duration: 10ms;
        }
    }

    /*
        type=checkbox buttons with no border, background and background-image if they are not checked
    */
    toolbarbutton.toolbarbutton-1.aios-tbutton {
        &[checked="false"]:not(:hover) {
            border-color: transparent;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
        }
    }
}